"*":
  "atom-beautify":
    general:
      _analyticsUserId: "2f0a970f-48ea-4de1-8155-c60310c2025e"
    js:
      beautify_on_save: true
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
    ]
    projectHome: "C:\\projects\\"
  editor:
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "3866367c-60cc-6ea5-c387-0c72bac7aeee"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "standard-formatter":
    formatOnSave: true
  "terminal-plus":
    core: {}
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
